.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.form input {
  margin: 1rem 0;
}
.form textarea {
  margin: 1rem 0;
}
.form button {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  background-color: black;
}

.todos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}
.card {
  background: rgb(245, 245, 245);
  width: 300px;
  height: 300px;
  margin: 1rem;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
